<!DOCTYPE html>
<html>
  <head>
    <title>MyChatApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<script>
   $('[data-message=true]').on('keypress', function(event){
      if(event.keyCode == 13 && event.target.value!= '') {
         App.chat.send_message(event.target.value);
         event.target.value = '';
         event.preventDefault();
       }
    });
</script>